<div id="<%= dom_id diet_compliance %>">
  <p>
    <strong>Ingredient:</strong>
    <%= diet_compliance.ingredient_id %>
  </p>

  <p>
    <strong>Diet:</strong>
    <%= diet_compliance.diet_id %>
  </p>

</div>
