<%= form_with({ :url => ingredients_path, :method => :post }) do %>
  <div>
    <label for="ingredient_name" style="display: block">Ingredient Name</label>
    <input type="text" name="ingredient_name" id="ingredient_name"/>
  </div>

  <div>
    <input type="submit" value="Add Ingredient"/>
  </div>
<% end %>
