<%= form_with(model: diet_compliance) do |form| %>
  <div>
    <%= form.label :ingredient_name, "Ingredient Name", { :style => "display: block" } %>
    <%= form.text_field :ingredient_name %>
  </div>

  <div>
    <%= form.submit "Check Compliance" %>
  </div>
<% end %>
