<h1>Editing diet compliance</h1>

<%= render "form", diet_compliance: @diet_compliance %>

<br>

<div>
  <%= link_to "Show this diet compliance", @diet_compliance %> |
  <%= link_to "Back to diet compliances", diet_compliances_path %>
</div>
