<p style="color: green"><%= notice %></p>

<h1>Diet compliances</h1>

<div id="diet_compliances">
  <% @diet_compliances.each do |diet_compliance| %>
    <%= render diet_compliance %>
    <p>
      <%= link_to "Show this diet compliance", diet_compliance %>
    </p>
  <% end %>
</div>

<%= link_to "New diet compliance", new_diet_compliance_path %>
