<h1>Editing user diet</h1>

<%= render "form", user_diet: @user_diet %>

<br>

<div>
  <%= link_to "Show this user diet", @user_diet %> |
  <%= link_to "Back to user diets", user_diets_path %>
</div>
