

<form action="/ingridients/[:ingridient_name]">
  <label for="name"></label>
  <input type="text", name="name", id="name">
  <button type="submit">Check ingridient</button>
</form>

<h1>TEST</h1>
<%= @user_diet.diet.name %>
