<h1 class= "title">Scan it, Eat it, Love it!</h1>

<div class="form-container">
  <%= form_with url: "/safe", method: :get do |form| %>
    <div>
      <%= form.label :ingredient %>
      <%= form.text_field :ingredient %>
    </div>

    <div class="btn">
      <%= form.submit "Submit" %>
    </div>
  <% end %>
</div>
