.btn {
  
}

.btn:hover {
  color: #0056b3; /* Darker shade on hover */
}

.title {
  color: #343a40;         /* Dark color for the text */
  font-size: 5rem;      /* Font size */
  font-weight: bold;      /* Bold text */
  margin-bottom: 20px;   /* Space below heading */
}
