:root {
  --text: #462e2a;
  --background: #fff9f0;
  --primary: #c19471;
  --secondary: #eedec9;
  --accent: #efc8a4;
}

.title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #201513;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.prompt {
  font-size: 3rem;
}

.hero-section {
  background: url('/assets/landing_page_bg.jpeg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
  color: #fff;
  padding: 190px 0;
  text-align: center;
}

.hero-section h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.hero-section p {
  font-size: 1.25rem;
}

.bg-ash {
  background-color: var(--secondary);
}

.bg-oil {
  background-color: var(--text);
}

.text-oil {
  color: var(--secondary);
}

.text-text {
  color: var(--text);
}

.text-marigold {
  color: var(--primary);
}

.btn-marigold {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-marigold:hover {
  background-color: var(--accent);
  border-color: var(--accent);
  color: var(--background);
}

.card {
  border: 2px solid var(--primary);
  background-color: var(--secondary);
}

.card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover; /* This will crop the image to fit the container */
}

.can-eat {
  height:100vh;
  background-color: rgba(94, 133, 4, 0.849);
}

.cant-eat {
  height:100vh;
  background-color: rgba(219, 55, 30, 0.854);
}

.compliance-result {
  text-align: center;
  color: var(--text); 
  font-size: 7rem;
  font-weight: bold;
}
